# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base vectorial local
data/chroma_db/

# Archivos temporales
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
